body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: left;
}

p {
    font-size: 18px;
    text-align: left;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.magenta {
    color: magenta;
    font-weight: bold;
}

.blue {
    color: blue;
    font-weight: bold;
}

img {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
